---
permalink: "{{ page.filePathStem }}.yml"
---
# Docs: https://www.netlifycms.org/docs/configuration-options/
backend:
  name: github
  branch: main
  repo: badcreditnewcar/badcreditnewcar.co.uk # cms repo
  base_url: https://bcnc-cms-oauth-service.herokuapp.com/ # OAuth server
# when true will assume needs netlify-cms-proxy-server running: npx netlify-cms-proxy-server
local_backend: {{ "true" if env == "local" else "false" }}
logo_url: /assets/images/logo.svg
public_folder: /assets/images/uploads
media_folder: app/_assets/images/uploads
display_url: https://badcreditnewcar.co.uk
slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "_"
site_url: {{ "http://localhost:8080" if env == "local" else "https://badcreditnewcar.co.uk" }}
media_library:
  name: cloudinary
  config:
    cloud_name: bcnc
    api_key: 833781372117439
    sources: local'
    default_transformations:
      - - fetch_format: auto
          width: 960
          quality: auto
          crop: scale
collections:
  - name: "cars"
    label: "Car pages"
    label_singular: "Car page"
    folder: "app/content/showroom"
    create: true
    slug: {% raw %}"{{make}}-{{model}}-{{title}}"{% endraw %}
    preview_path: {% raw %}"showroom/{{make}}/{{model}}/{{title}}/"{% endraw %}
    summary: {% raw %}"{{make}} {{model}} - {{title}}"{% endraw %}
    editor:
      preview: false
    fields:
      - { label: "Registration", name: "title", widget: "string" }
      - label: "Make"
        name: "make"
        widget: "select"
        options:
          - { label: "Abarth", value: "Abarth" }
          - { label: "Alfa Romeo", value: "Alfa Romeo" }
          - { label: "Aston Martin", value: "Aston Martin" }
          - { label: "Audi", value: "Audi" }
          - { label: "Bentley", value: "Bentley" }
          - { label: "BMW", value: "BMW" }
          - { label: "Bugatti", value: "Bugatti" }
          - { label: "Cadillac", value: "Cadillac" }
          - { label: "Chevrolet", value: "Chevrolet" }
          - { label: "Chrysler", value: "Chrysler" }
          - { label: "Citroën", value: "Citroën" }
          - { label: "Dacia", value: "Dacia" }
          - { label: "Daewoo", value: "Daewoo" }
          - { label: "Daihatsu", value: "Daihatsu" }
          - { label: "Dodge", value: "Dodge" }
          - { label: "Donkervoort", value: "Donkervoort" }
          - { label: "DS", value: "DS" }
          - { label: "Ferrari", value: "Ferrari" }
          - { label: "Fiat", value: "Fiat" }
          - { label: "Fisker", value: "Fisker" }
          - { label: "Ford", value: "Ford" }
          - { label: "Honda", value: "Honda" }
          - { label: "Hummer", value: "Hummer" }
          - { label: "Hyundai", value: "Hyundai" }
          - { label: "Infiniti", value: "Infiniti" }
          - { label: "Iveco", value: "Iveco" }
          - { label: "Jaguar", value: "Jaguar" }
          - { label: "Jeep", value: "Jeep" }
          - { label: "Kia", value: "Kia" }
          - { label: "KTM", value: "KTM" }
          - { label: "Lada", value: "Lada" }
          - { label: "Lamborghini", value: "Lamborghini" }
          - { label: "Lancia", value: "Lancia" }
          - { label: "Land Rover", value: "Land Rover" }
          - { label: "Landwind", value: "Landwind" }
          - { label: "Lexus", value: "Lexus" }
          - { label: "Lotus", value: "Lotus" }
          - { label: "Maserati", value: "Maserati" }
          - { label: "Maybach", value: "Maybach" }
          - { label: "Mazda", value: "Mazda" }
          - { label: "McLaren", value: "McLaren" }
          - { label: "Mercedes-Benz", value: "Mercedes-Benz" }
          - { label: "MG", value: "MG" }
          - { label: "Mini", value: "Mini" }
          - { label: "Mitsubishi", value: "Mitsubishi" }
          - { label: "Morgan", value: "Morgan" }
          - { label: "Nissan", value: "Nissan" }
          - { label: "Opel", value: "Opel" }
          - { label: "Peugeot", value: "Peugeot" }
          - { label: "Porsche", value: "Porsche" }
          - { label: "Renault", value: "Renault" }
          - { label: "Rolls-Royce", value: "Rolls-Royce" }
          - { label: "Range Rover", value: "Range Rover" }
          - { label: "Saab", value: "Saab" }
          - { label: "Seat", value: "Seat" }
          - { label: "Skoda", value: "Skoda" }
          - { label: "Smart", value: "Smart" }
          - { label: "SsangYong", value: "SsangYong" }
          - { label: "Subaru", value: "Subaru" }
          - { label: "Suzuki", value: "Suzuki" }
          - { label: "Tesla", value: "Tesla" }
          - { label: "Toyota", value: "Toyota" }
          - { label: "Vauxhall", value: "Vauxhall" }
          - { label: "Volkswagen", value: "Volkswagen" }
          - { label: "Volvo", value: "Volvo" }
      - { label: "Model", name: "model", widget: "string", hint: "For example, 'Golf'" }
      - { label: "Sub model", name: "submodel", widget: "string", hint: "For example, 'R-line'" }
      - label: "Transmission"
        name: "transmission"
        widget: "select"
        options:
          - { label: "Automatic", value: "Automatic" }
          - { label: "Manual", value: "Manual" }
      - label: "Milage"
        name: "milage"
        widget: "number"
        default: 0
        value_type: "int"
        min: 1
        step: 10
      - label: "Fuel type"
        name: "fuel_type"
        widget: "select"
        options:
          - { label: "Petrol", value: "Petrol" }
          - { label: "Diesel", value: "Diesel" }
          - { label: "Hybrid", value: "Hybrid" }
          - { label: "Electric", value: "Electric" }
      - label: "Featured Image"
        name: "main_image"
        widget: "image"
        choose_url: false
        media_folder: "/app/_assets/images/uploads/cars"
        public_folder: "/assets/images/uploads/cars"
      - label: "Images"
        name: "images"
        widget: "list"
        minimize_collapsed: true
        collapsed: false
        summary: '{{fields.image}}'
        add_to_top: true
        field: { label: Image, name: image, widget: image, choose_url: false, media_folder: "/app/_assets/images/uploads/cars", public_folder: "/assets/images/uploads/cars" }
      - label: "Features"
        name: "features"
        widget: "list"
        summary: 'Feature'
        minimize_collapsed: true
        add_to_top: true
        collapsed: false
        fields:
          - label: "Feature"
            name: "feature"
            widget: "select"
            options:
              - { label: "12 Months Warrenty", value: "12 Months Warrenty" }
              - { label: "12 Months MOT", value: "12 Months MOT" }
              - { label: "Metallic Paint", value: "Metallic Paint" }
              - { label: "Alloy Wheels", value: "Alloy Wheels" }
              - { label: "Bi - Xenon Lights", value: "Bi - Xenon Lights" }
              - { label: "Parking Sensors", value: "Parking Sensors" }
              - { label: "Leather Seats", value: "Leather Seats" }
              - { label: "Half Leather Seats", value: "Half Leather Seats" }
              - { label: "Electric Seats", value: "Electric Seats" }
              - { label: "Electric Windows", value: "Electric Windows" }
              - { label: "Electric Mirrors", value: "Electric Mirrors" }
              - { label: "Folding Mirrors", value: "Folding Mirrors" }
              - { label: "Sun Roof", value: "Sun Roof" }
              - { label: "CD Player", value: "CD Player" }
              - { label: "CD changer", value: "CD changer" }
              - { label: "SAT Nav", value: "SAT Nav" }
              - { label: "Multi Media", value: "Multi Media" }
              - { label: "USB", value: "USB" }
              - { label: "AUX", value: "AUX" }
              - { label: "Bluetooth", value: "Bluetooth" }
              - { label: "Hands Free", value: "Hands Free" }
              - { label: "Multi Function", value: "Multi Function" }
              - { label: "Reverse Camera", value: "Reverse Camera" }
              - { label: "Cruise Control", value: "Cruise Control" }
              - { label: "Climate Control", value: "Climate Control" }
              - { label: "Air Conditioning", value: "Air Conditioning" }
              - { label: "Keyless GO", value: "Keyless GO" }
              - { label: "Keyless Start", value: "Keyless Start" }
              - { label: "ABS", value: "ABS" }
              - { label: "EPS", value: "EPS" }
              - { label: "Panoramic Roof", value: "Panoramic Roof" }
      - label: "Price"
        name: "price"
        widget: "object"
        fields:
          - { label: "Amount", name: "amount", widget: "number" }
          - { label: "Interval", name: "interval", widget: "select", options: ["weekly", "monthly"], default: "weekly" }
      - { label: "Hidden", name: "hidden", widget: "boolean", default: false, hint: "Hides this content from the site. Defaults to false." }
