---
title: "About us"
permalink: about/index.html
description: ""
eleventyNavigation:
  parent: "home"
eleventyComputed:
  eleventyNavigation:
    key: about
    title: "{{ title }}"
---
{% extends "base.njk" %}

{% block main %}

   {% include "callcta.njk" %}

<section class="content-section content-section--alt">
	<div class="constraint">

		<h2 class="content-section__title">About Us</h2>

		<div class="content-section__body">

				<div class='tid__row grid grid--rev'>
					<div class="grid__item one-whole gt-desktop--one-half">
						<img src="/assets/images/img0899-w900h675.jpeg" alt="">
					</div>
					<div class="grid__item one-whole gt-desktop--one-half">
						<p>We are a small but diligent group of professionals with years of motor and financial industry experience.</p>
<p>We founded Bad Credit, New car! because we saw a need for a new company that could help regular people that are trying to get moving again. If you’re struggling to get the right car with an affordable finance agreement we can assist you.</p>
					</div>
				</div>

				<div class='tid__row grid '>
					<div class="grid__item one-whole gt-desktop--one-whole">
						<img src="" alt="">
					</div>
					<div class="grid__item one-whole gt-desktop--one-whole">
						<p>We have agreements with lots of lenders for all types of different financial circumstances. We can broker your finance based on your affordability and not just base it on your credit score.
Representative Example 29.8% APR</p>
					</div>
				</div>

		</div>

		<div class="content-section__footer">

		    <div class="cta-block">
	            <a href="/showroom/" class="cta-button cta-button--showroom">
	                <span class="cta-button__text">Browse our showroom</span>
	                <span class="icon-car"></span>
	            </a>
	        </div>

		</div>

	</div>

</section>
<div class="content-section content-section--alt2">
	<div class="constraint">

		<h2 class="content-section__title">Facebook reviews</h2>

		<div class="facebook-block">
			<div class="grid grid--middle">
				<div class="grid__item one-whole gt-tablet--two-thirds">
					<p>We’re committed to a high level of customer service. We’re proud to say that many of our customers are recommendations from friends, family and colleagues on sites like Facebook. We have our reviews public for all to see.</p>
<p><strong><a href="https://www.facebook.com/pg/bcnewcar/reviews/">Read our Facebook reviews</a></strong></p>				</div>
				<div class="grid__item one-whole gt-tablet--one-third">
					<a href="https://www.facebook.com/pg/bcnewcar/reviews/"><img src="/assets/images/fb.png" alt="" class="mw--100"></a>
				</div>
			</div>
		</div>

		<h2 class="content-section__title">Customer Testimonials</h2>

		<div class="content-section__body">


<article class="review review--alt">
	<div class="grid grid--rev">
		<header class="grid__item one-whole gt-tablet--one-third review__header">
			<div class="review__header__innner">
				<h2 class="review__header__name">Monika Weg</h2>
				<h3 class="review__header__location">Leeds</h3>
				<p class="review__header__date">03 November 19</p>
			</div>
		</header>
		<div class="grid__item one-whole gt-tablet--two-thirds review__body">
			<p>I would recomend anyone&gt; Amazing service</p>
		</div>
	</div>
</article>

<article class="review ">
	<div class="grid ">
		<header class="grid__item one-whole gt-tablet--one-third review__header">
			<div class="review__header__innner">
				<h2 class="review__header__name">bryn phillips</h2>
				<h3 class="review__header__location">Merthyr Tydfil</h3>
				<p class="review__header__date">20 October 19</p>
			</div>
		</header>
		<div class="grid__item one-whole gt-tablet--two-thirds review__body">
			<p>just had delivery of new car great service amazing car</p>
		</div>
	</div>
</article>        </div>

        <div class="content-section__footer">
		    <div class="cta-block">
	            <a href="/apply/" class="cta-button cta-button--alt2">
	                <span class="cta-button__text">Apply now!</span>
	                 <span class="icon-arrow-long-right"></span>
	            </a>
	        </div>
        </div>

	</div>
</div>

{% endblock %}
