---
title: "Application received - Thank you!"
permalink: thank-you/index.html
description: ""
eleventyComputed:
  eleventyNavigation:
    key: apply-thanks
    title: "{{ title }}"
---
{% extends "base.njk" %}
{% block main %}
<div class="content-section content-section--alt">
	<div class="constraint">
		<h2 class="content-section__title">Application sent!</h2>
		<p>Your application will be received and handled within the next working day. We will call you at the date and time you specified to discuss how we can help you get moving again.</p>
    <h2 class="content-section__title">Can you get some things ready?</h2>
    <p>It will help speed things along if you can find the following before we speak. <strong>Don’t worry if you can’t find them all</strong>, we can help you over the phone with how to best provide us with the information we need to help you get that newer, better car and a finance deal that’s right for you.</p>
    <ul class="qualification-list">
      <li>1 monthly or 4 weekly wage slips</li>
      <li>1 bank statement dated in the last 30 days</li>
      <li>A proof of address dated in the last 90 days</li>
      <li>A valid driving licence</li>
    </ul>
    <p>Have a great day, we will be in touch soon!</p>
	</div>
	<!-- /.constraint -->
</div>
<!-- /.content-section -->
{% endblock %}
