---
title: "Car buying service"
permalink: car-buying-service/index.html
description: ""
eleventyComputed:
  eleventyNavigation:
    key: car-buying-service
    title: "{{ title }}"
---
{% extends "base.njk" %}

{% block main %}

  <div class="content-section content-section--contact-form content-section--alt2" id="repair">

    <div class="constraint">

      <h2 class="content-section__title">Car buying service</h2>

      <div class="content-section__intro">
        <div class="grid grid--wide grid--bottom">
          <div class="grid__item one-whole gt-tablet-small--one-fifth">
            <img src="/assets/images/buying_man.jpg" alt="" />
          </div>
          <div class="grid__item one-whole gt-tablet-small--four-fifths">
            <p>We always have a wide selection of cars available in our showroom but we know that some customers really want or need a certain type of car.</p>
            <p>Fill in the form below and we will find your perfect car.</p>
          </div>
        </div>
      </div>

      <div class="form form--car-enquiry">

    <h2 class="form__title">
      You and your ideal car
    </h2>

    <form id="form1_car_buying" class="contact-form contact-form--car" action="/car-buying-service" method="post">

    <input id="form1_forthebees" name="forthebees" class="beetrap" type="text" />

      <fieldset class="form-divider form-divider--border-bottom">
      <div class="grid">

        <div class="grid__item one-whole">

          <p class="form-title"><strong>Your details</strong></p>

        </div>
        <!-- /.grid__item one-whole -->

        <div class="grid__item one-whole">

          <div class="frow frow--select frow--inline is--required">
            <label class="frow__label" for="form1_title">Title</label>
            <div class="frow__capture">
              <select id="form1_title" name="title" class="frow__field" required="required"><option value="Mr">Mr</option><option value="Mrs">Mrs</option><option value="Miss">Miss</option><option value="Ms">Ms</option></select>
            </div>
            <!-- /.frow__capture -->
          </div>
          <!-- /.frow frow--select -->

        </div>

        <div class="grid__item one-half lte-mobile--one-whole">

          <div class="frow frow--text is--required">
            <label class="frow__label" for="form1_first_name">First name</label>
            <div class="frow__capture">
              <input id="form1_first_name" name="first_name" class="frow__field" type="text" required="required" />
            </div>
            <!-- /.frow__capture -->
          </div>
          <!-- /.frow frow--text -->

        </div>
        <!-- /.grid__item one-half lte-mobile--one-whole -->

        <div class="grid__item one-half lte-mobile--one-whole">

          <div class="frow frow--text is--required">
            <label class="frow__label" for="form1_surname">Surname</label>
            <div class="frow__capture">
              <input id="form1_surname" name="surname" class="frow__field" type="text" required="required" />
            </div>
            <!-- /.frow__capture -->
          </div>
          <!-- /.frow frow--text -->

        </div>
        <!-- /.grid__item one-half lte-mobile--one-whole -->

        <div class="grid__item one-half lte-mobile--one-whole">

          <div class="frow frow--text is--required">
            <label class="frow__label" for="form1_email">Email</label>
            <div class="frow__capture">
              <input id="form1_email" name="email" class="frow__field" type="email" required="required" />
            </div>
            <!-- /.frow__capture -->
          </div>
          <!-- /.frow frow--text -->

        </div>
        <!-- /.grid__item one-half lte-mobile--one-whole -->

        <div class="grid__item one-half lte-mobile--one-whole">

          <div class="frow frow--text is--required">
            <label class="frow__label" for="form1_telephone">Phone</label>
            <div class="frow__capture">
              <input id="form1_telephone" name="telephone" class="frow__field" type="text" required="required" />
            </div>
            <!-- /.frow__capture -->
          </div>
          <!-- /.frow frow--text -->

        </div>
        <!-- /.grid__item one-half lte-mobile--one-whole -->

    </div>
    </fieldset>

    <fieldset class="form-divider form-divider--border-bottom">
    <div class="grid">

      <div class="grid__item one-whole">

        <p class="form-title"><strong>When can we call you about this car?</strong></p>

      </div>
      <!-- /.grid__item one-whole -->

      <div class="grid__item one-half lte-mobile--one-whole">

        <div class="frow frow--text frow--dt-picker is--required">
          <label class="frow__label" for="form1_calldate">Date</label>
          <div class="frow__capture">
            <input id="form1_calldate" name="calldate" class="frow__field is--datepicker" placeholder="e.g: 01 Aug, 2015" type="text" required="required" />
          </div>
          <!-- /.frow__capture -->
        </div>
        <!-- /.frow frow--text -->

      </div>
      <!-- /.grid__item one-half lte-mobile--one-whole -->

      <div class="grid__item one-half lte-mobile--one-whole">

        <div class="frow frow--text frow--dt-picker is--required">
          <label class="frow__label" for="form1_calltime">Time</label>
          <div class="frow__capture">
            <input id="form1_calltime" name="calltime" class="frow__field is--timepicker" placeholder="e.g: 3:00PM" type="text" />
          </div>
          <!-- /.frow__capture -->
        </div>
        <!-- /.frow frow--text -->

      </div>
      <!-- /.grid__item one-half lte-mobile--one-whole -->

    </div>
    </fieldset>

    <fieldset class="form-divider">

      <div class="grid">

        <div class="grid__item one-whole">

          <p class="form-title"><strong>Tell us more about the car you want</strong></p>

        </div>
        <!-- /.grid__item one-whole -->

        <div class="grid__item one-half lte-mobile--one-whole">

          <div class="frow frow--text is--required">
            <label class="frow__label" for="form1_make">Make</label>
            <div class="frow__capture">
              <input id="form1_make" name="make" class="frow__field" type="text" required="required" />
            </div>
            <!-- /.frow__capture -->
          </div>
          <!-- /.frow frow--text -->

        </div>
        <!-- /.grid__item one-half lte-mobile--one-whole -->

        <div class="grid__item one-half lte-mobile--one-whole">

          <div class="frow frow--text is--required">
            <label class="frow__label" for="form1_model">Model</label>
            <div class="frow__capture">
              <input id="form1_model" name="model" class="frow__field" type="text" required="required" />
            </div>
            <!-- /.frow__capture -->
          </div>
          <!-- /.frow frow--text -->

        </div>
        <!-- /.grid__item one-half lte-mobile--one-whole -->

        <div class="grid__item one-whole">

          <div class="frow frow--textarea is--required">
            <label class="frow__label" for="form1_message">Describe your ideal car detail</label>
            <div class="frow__capture">
              <textarea id="form1_message" name="message" class="frow__field" cols="30" rows="4" required="required"></textarea>
            </div>
            <!-- /.frow__capture -->
          </div>
          <!-- /.frow frow--textarea -->

        </div>
        <!-- /.grid__item one-whole -->

        <div class="grid__item one-whole">

          <input id="form1_submit" name="submit" class="btn btn--full contact-form__submit form__submit" value="Send message" type="submit" /><input type="hidden" name="cms-form" value="Y2FyX2J1eWluZzpwZXJjaF9mb3JtczovdGVtcGxhdGVzL2NvbnRlbnQvY2Fycy9jYXJidXlpbmdfZm9ybS5odG1sOjE2MzgxODMzOTk=" />

        </div>
        <!-- /.grid__item one-whole -->

      </div>
      <!-- /.grid -->
    </fieldset>

    </form>

  </div>
    </div>
    <!-- /.constraint -->

  </div>
  <!-- /.content-section content-section--repair -->

{% endblock %}
