---
title: "Complaints"
permalink: docs/complaints/index.html
description: ""
eleventyComputed:
  eleventyNavigation:
    key: complaints
    title: "{{ title }}"
---
{% extends "base.njk" %}

{% block main %}

<div class="cta-call">
  <p>Questions? Get in touch</p>
  <p>
    <a href="tel:01204916044" class="cta-call__link">
      <span class="cta-call__icon"><img src="/assets/images/call_icon.png" alt="" /></span>
      <span class="cta-call__label"><span class="webfont-a">CALL US NOW</span> <span class="icon-arrow-long-right"></span></span>
    </a>
  </p>
</div>

<div class='content-section content-section--alt'>
	<div class="constraint">
		<h2 class="content-section__title">Complaints Procedure</h2>
		<p>We are committed to resolving complaints effectively as quickly as possible. In the unlikely event that you wish to make a complaint, please put this in writing to <a href="mailto:complaints@badcreditnewcar.co.uk" title="complaints@badcreditnewcar.co.uk">complaints@badcreditnewcar.co.uk</a> alternatively, you can post it to the following address:</p>
    <p>We are committed to resolving complaints effectively, as quickly as possible. In the unlikely event that you wish to make a complaint, please either call us on 01706 653867 or put this in writing to:</p>
    <p><strong>Bad Credit New Car</strong>
    Unit 2C
    Cowm Top Business Park
    Cowm Top Lane
    Rochdale
    OL11 2PU</p>
    <p>We will initially acknowledge your complaint. Please note that we have 8 weeks to respond to you with a final decision, although we will keep in contact with you during that time to update you with the progress of our investigation into your complaint.</p>
    <p>If you are not satisfied with our response, or if for any reason the complaint is not resolved after eight weeks, you may refer the complaint to:</p>
    <p>Financial Ombudsman Service
    Exchange Tower
    London
    E14 9SR
    Telephone: 0300 123 9123</p>
    <p>Our final response will:</p>
    <ul>
    <li>Provide you with a summary of the complaint, setting out the outcome of our investigation and our final view on the issues raised</li>
    <li>State whether we acknowledge there has been a fault on the part of our business</li>
    <li>Explain your right as a consumer to refer your complaint to the Financial Ombudsman Service if you are unhappy with our response, within 6 months of your initial complaint</li>
    </ul>
	</div>
	<!-- /.constraint -->
</div>
<!-- /.content-section -->

{% endblock %}
