---
title: "Message received - Thank you!"
permalink: contact/thank-you/index.html
description: ""
eleventyComputed:
  eleventyNavigation:
    key: contact-thanks
    title: "{{ title }}"
---
{% extends "base.njk" %}
{% block main %}
<div class="content-section content-section--alt">
	<div class="constraint">
		<h2 class="content-section__title">Message sent!</h2>
		<p>Your message will be received and handled within the next working day.</p>
    <p>Have a great day, we will be in touch soon!</p>
	</div>
	<!-- /.constraint -->
</div>
<!-- /.content-section -->
{% endblock %}
