---
title: "Terms and Conditions"
permalink: terms-conditions/gdpr-statement/index.html
description: ""
eleventyComputed:
  eleventyNavigation:
    key: terms
    title: "{{ title }}"
---
{% extends "base.njk" %}

{% block main %}

<div class="cta-call">
  <p>Questions? Get in touch</p>
  <p>
    <a href="tel:{{ app.contact.phone | replace(' ', '') }}" class="cta-call__link">
      <span class="cta-call__icon"><img src="/assets/images/call_icon.png" alt="" /></span>
      <span class="cta-call__label"><span class="webfont-a">CALL US NOW</span> <span class="icon-arrow-long-right"></span></span>
    </a>
  </p>
</div>

<div class='content-section content-section--alt'>
	<div class="constraint">
		<h2 class="content-section__title">Our GDPR Commitment</h2>
		<p>Carladies Limited welcomes the introduction of GDPR in May 2018. Carladies Limited Ltd takes information security seriously including that of personal data regardless as to whether Carladies Limited is considered a processor or controller. It is imperative that our customers are confident in our approach and in relation to GDPR and that we have implemented the correct protocols with regards to GDPR” </p>
<p>In terms of GDPR Carladies Limited has been working towards being fully compliant throughout 2017/8 in order to ensure that Carladies Limited customers can be confident that they are dealing with a fully compliant GDPR business.  The work will conclude prior to the May 2018 date for introduction of the regulation. </p>
<p>Carladies Limited will be happy to provide documentation to clients and candidates detailing as an organisation on how we are fully compliant with all aspects of GDPR.</p>
	</div>
	<!-- /.constraint -->
</div>
<!-- /.content-section --><div class='content-section content-section--normal'>
	<div class="constraint">
		<h2 class="content-section__title">Assement</h2>
		<p>Carladies Limited has assessed GDPR and matched its own activities against all of those paragraphs in three key areas:</p>
<ol>
<li>A data controller of its own employee data.</li>
<li>A data controller or processor of third party data such as activity relating to direct marketing.</li>
<li>A data processor or controller of customers data.</li>
</ol>
<p>Documentation will be made available at the bottom of this commitment statement detailing the policies and activities that Carladies Limited employs matched to the clauses of the GDPR should any customers have a detailed questions in respect of compliance.</p>
	</div>
	<!-- /.constraint -->
</div>
<!-- /.content-section --><div class='content-section content-section--alt'>
	<div class="constraint">
		<h2 class="content-section__title">Activity</h2>
		<p>Carladies Limited is amending its activities and associated policies and procedures as necessary in order to fully comply with GDPR following a thorough assessment.</p>
<ul>
<li>Carladies Limited is amending its customer and supplier contacts to ensure the GDPR reaches throughout the supply chain for the provision of its services.</li>
<li>Carladies Limited is reviewing all of its suppliers for compliance with GDPR paying very close attention to its marketing activity suppliers.</li>
<li>Carladies Limited is carrying out Privacy Impact Assessments as necessary.</li>
<li>Carladies Limited is organising a campaign whereby customers can be briefed further on Madison Warner Ltd’s activity in respect of GDPR.</li>
<li>Carladies Limited website and direct marketing activity is being updated so that clients and candidates have the assurance that they will be contacted and treated in in accordance with GDPR requirements.  The website will contain Carladies Limited privacy policies clearly identified. </li>
<li>Carladies Limited will be maintaining accreditations that demonstrate its commitment to information security, including personal data.</li>
</ul>
	</div>
	<!-- /.constraint -->
</div>
<!-- /.content-section --><div class='content-section content-section--normal'>
	<div class="constraint">
		<h2 class="content-section__title">What's next?</h2>
		<p>At Carladies Limited, we strive to deliver an incredible customer experience, earning the trust of thousands of users.  We will continue to make additional required operational changes resulting from the new legislation, and will keep our clients, candidates, partners and regulatory authorities informed throughout this process.  We have an internal cross-functional team who continue to monitor GDPR as it moves to become more clearly defined over the next few months, and who will continue to inform our strategy for GDPR.</p>
<p><strong>Our GDPR Documentation</strong></p>
<ul>
<li><a href="https://badcreditnewcar.co.uk/docs/terms-conditions" title="">Privacy Policy</a></li>
</ul>
	</div>
	<!-- /.constraint -->
</div>
<!-- /.content-section --><div class='content-section content-section--alt'>
	<div class="constraint">
		<h2 class="content-section__title">Disclosure of Personal Information</h2>
		<p>Disclosure of Personal Information</p>
<p>Your Personal Information may be disclosed in a number of circumstances including the following:</p>
<p>Third parties where you consent to the use or disclosure; and
Where required or authorised by law.
LINK HERE</p>
<p>LINK&#8230;
<a href="https://gocarcredit.co.uk/privacy-notice-dealer/">https://gocarcredit.co.uk/privacy-notice-dealer/</a></p>
	</div>
	<!-- /.constraint -->
</div>
<!-- /.content-section -->

{% endblock %}
