---
title: "Home"
pagination:
  data: collections.cars
  size: 3
  alias: room
description: ""
eleventyComputed:
  eleventyNavigation:
    key: showroom
    title: "{{ title }}"
---
{% extends "base.njk" %}

{% block main %}

<div class="background-splash background-splash--showroom">
	<div class="constraint">
		<section class="showroom">

			<header class="showroom__header">
        <div class="grid grid--middle">
          <div class="grid__item one-whole gt-tablet-small--one-half">
            <h2 class="showroom__header__title">Showroom</h2>
          </div>
          {# <div class="grid__item one-whole gt-tablet-small--one-half">
            <div class="showroom__header__sort ta--right--gt-tablet-small">
              <a href="?sort=low" class="sort-button">Sort price: High to low <span class="sort-button__icon">&#9650;</span></a>
            </div>
          </div> #}
        </div>
			</header>

			<div class="showroom__body">
				<div class="showroom__body__intro">
					<p><strong>Welcome to our online showroom. Everything you see here is available for you to drive away today!</strong></p>
        </div>
      </div>

      <div class="grid">

        {%- for car in room -%}
        <div class="grid__item one-whole gt-tablet--one-third">

          <article class="showroom-item">

            <div class="showroom-item__thumb">
              <a href="{{ car.url }}">
                  <img src='{{ car.data.main_image }}' class="showroom-item__thumb__img">
              </a>
            </div>

            <div class="showroom-item__body">

              <div class="showroom-item__body__header">
                <h2 class="showroom-item__body__header__title">{{ car.data.make }} &ndash; {{ car.data.model }}</h2>
              </div>

              <div class="showroom-item__meta group showroom-item__meta--price">
                <div class="showroom-item__meta__key">Price</div>
                <div class="showroom-item__meta__value">&pound;{{ car.data.price.amount }} per week</div>
              </div>

              <div class="showroom-item__meta group showroom-item__meta--milage">
                <div class="showroom-item__meta__key">Mileage</div>
                <div class="showroom-item__meta__value">{{ car.data.milage }}</div>
              </div>

              <div class="showroom-item__meta group showroom-item__meta--fuel">
                <div class="showroom-item__meta__key">Fuel type</div>
                <div class="showroom-item__meta__value">{{ car.data.fuel_type }}</div>
              </div>

              <div class="cta-anchor">
                <a href="{{ car.url }}" class="cta-anchor__link">View this car</a>
              </div>

            </div>

          </article>

        </div>
        {%- endfor -%}

        <div class="grid__item one-whole">
          <div class="paging">
            <div class="grid grid--middle">

              {# <div class="grid__item one-whole">
                <div class="cta-carbuying group">
                  <div class="grid grid--rev">
                    <div class="grid__item one-quarter gt-tablet-small--one-sixth gt-desktop--one-tenth cta-carbuying__image">
                      <img src="/assets/images/buying_man.jpg" alt="" />
                    </div>
                    <div class="grid__item three-quarters gt-tablet-small--five-sixths gt-desktop--nine-tenths cta-carbuying__content">
                      <h2 class="cta-carbuying__title">Not found what you're looking for?</h2>
                      <div class="cta-carbuying__body">
                        <p>We offer a car buying service. Tell us what you want and we'll do the hard work to make things simple for you.</p>
                        <p><a href="/car-buying-service" class="cta-button-small">Find out more</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> #}

              <div class="grid__item one-half  gt-tablet--one-third paging__prev">
                  {% if pagination.href.previous%}
                  <a href="{{ pagination.href.previous }}" class="paging__prev__link"><span class="icon-prev"></span> <span class="paging__prev__link__text">Back</span></a>
                  {% endif %}
              </div>

              <div class="grid__item one-whole gt-tablet--show gt-tablet--one-third paging__pages">
                <div class="paging__pages__index">
                  <div class="paging__pages__index__display">
                  {% for pageKey in pagination.pages %}
                    <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %} class="{% if page.url == pagination.hrefs[ loop.index0 ] %}{% else %}{% endif %}">{{ loop.index }}</a>
                  {% endfor %}
                  </div>
                </div>
              </div>

              <div class="grid__item one-half  gt-tablet--one-third paging__next">
                {% if pagination.href.next %}
                  <a href="{{ pagination.href.next }}" class="paging__next__link"><span class="paging__next__link__text">Next</span> <span class="icon-next"></span></a>
                {% endif %}
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>

  </div>
</div>

{% endblock %}
