<div class="cta-call">
  <p>No risk, soft search</p>
  <p>
    <a href="/apply/" class="cta-call__link">
      <span class="cta-call__label">
        <span class="webfont-a">APPLY NOW</span>
        <span class="icon-arrow-long-right"></span></span>
    </a>
  </p>
</div>
